<% @orders.each do |order| %>
  <%= link_to "Order #{order.id}", order_path(order) %>
  <table class='table table-bordered'>
    <tr>
      <th>Item Name</th>
      <th>Item Quantity</th>
      <th>Item Price</th>
    </tr>
    <% order.order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.quantity %></td>
      <td><%= order_item.price %></td>
    </tr>
    <% end %>
  </table>
<% end %>
