<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Page Content -->
  <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron hero-spacer">
          <h1>All Orders</h1>
      </header>

      <hr>

      <!-- Orders -->
      <table class='table table-bordered'>
        <tr>
          <th>Order Id</th>
          <th>Order Placed At</th>
          <th>Order Total Price</th>
        </tr>
      <% @orders.each do |order| %>
          <tr>
              <td><strong><%= link_to "Order #{order.id}", order_path(order) %></strong>
              <td><strong> Created at:</strong>  <%= order.created_at %></td>
              <td><strong> Total Price:</strong> <%= order.total_price %></td>
          </tr>
      <% end %>
      </table>
  </div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
