<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
      <body id="vendor">
        <h1>All Vendors</h1>
      </body>
    </header>

    <hr>

    <!-- Categories -->
    <% @vendors.each do |vendor| %>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src=<%= vendor.image_url%> alt="">
            <div class="caption text-center">
              <h3><%= link_to vendor.name, categories_path  %></h3>
            </div>
        </div>
    </div>
    <% end %>
</div>
