<table>
  <tr>
    <th> Name </th>
    <th> Description </th>
    <th> Price </th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>
  </tr>
<% end %>
</table>