body {
  background-image: url("https://s3-us-west-2.amazonaws.com/idea-box-rasensio/45degreee_fabric.png")
}

.video-section .pattern-overlay {
  background-color: rgba(71, 71, 71, 0.59);
  padding: 110px 0 32px;
  min-height: 496px; 
  /* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
  text-align:center;
  color:#fff;
}
.video-section h1{
  font-size:110px;
  font-family: 'Buenard', serif;
  font-weight:bold;
  text-transform: uppercase;
  margin: 40px auto 0px;
  text-shadow: 1px 1px 1px #000;
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
  font-size: 25px;
  font-weight:lighter;
  margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

#background {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
}
.container h1 {
color: white;
}

.outline {
  -webkit-text-stroke: 1px black;
}

.tagline {
  font-size: 3em;
  font-weight: bold;
}

.summary {
  padding-top: 50px;
}

.page-title {
  font-size: 4em;
}

#categories {
  font-size: 90px;
  color: red;
}

.carousel-container {
  padding-top: 100px;
}

#less-padding {
  padding: 0;
  margin: 70px;
}

#underline {
  text-decoration: underline;

}
