<%= stylesheet_link_tag 'modern-business', media: 'all', 'data-turbolinks-track' => true %>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <link href="css/modern-business.css" rel="stylesheet">

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide" style="margin:0 auto">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://www.quakervalleyfoods.com/wp-content/uploads/2014/03/provisions_resize.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Fontana Grill</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://food.ogjenn.com/wp-content/uploads/2014/11/NCFC-Food-Image-2000x600.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Fontana Grill</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://ethnicfoodshow.com/wp-content/uploads/2015/04/chleb.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Fontana Grill</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
</body>

</html>
