<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>All Categories</h1>
    </header>

    <hr>

    <!-- Categories -->
    <% @categories.each do |category| %>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption text-center">
                <h3><%= link_to category.name, category_path(category.id) %></h3>
            </div>
        </div>
    </div>
    <% end %>
</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
