<%= stylesheet_link_tag 'heroic-features', media: 'all', 'data-turbolinks-track' => true %>

<!-- Page Content -->
<%= render partial: "carousel" %>


    <hr>

    <!-- Categories -->
    <% @categories.each do |category| %>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src=<%= category.image_url %> alt="">
            <div class="caption text-center">
                <h3><%= link_to category.name, category_path(category.id) %></h3>
            </div>
        </div>
    </div>
    <% end %>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 3000 //changes the speed
})
</script>
